@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Electrolize", sans-serif;
  font-size: 15px;
}

.brand-image {
  width: 50px;
}
.bg {
  background-color: #20c997;
  color: #000000;
}
.cursor {
  cursor: pointer;
}
.text-decoration-none {
  text-decoration: none;
  color: black;
}

.cat-image {
  width: 50px;
  height: 50px;
}
.carousel-image {
  height: 50vh;
}
.rating span {
  color: #20c997;
}
li {
  list-style-type: none;
}
.cart-height {
  height: 140px;
  width: 140px;
}
.cart-pic-height {
  height: 240px;
  width: 240px;
}
.text-height {
  height: 40px;
}
.det-image {
  height: 40vh;
}

.scroll {
  max-height: 60vh;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.card-height {
  height: 70vh;
}
.searchpage-main {
  min-height: 80vh;
}
